<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/games">Games</a></li>

</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:benglabman@gmail.com?subject=Job Offer &body=I want to hire you to work at my company with a starting salary of $250,000 dollars" target="_blank">email</a></li>
   </ul>
  </footer>
  </body>

</html>
